.beer {
  img {
    width: 100%;
  }
  .slide {
    &.ng-animate {
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s;
    }
  }
}
