.login {
  label {
    text-transform: uppercase;
  }
  .google, .twitter, .github, .facebook {
    text-transform: uppercase;
    height: 100px;
    margin-bottom: 20px;
  }
  .facebook {
    background-color: #405D9B;
    border-color: #405D9B;
    &:hover, &:active {
      background-color: #405D9B;
    }
  }
  .github {
    background-color: #333333;
    border-color: #000000;
    &:hover, &:active {
      background-color: #000000;
    }
  }
  .twitter {
    background-color: #55ACEE;
    border-color: #3B88C3;
    &:hover, &:active {
      background-color: #3B88C3;
    }
  }
  .google {
    background-color: #DB4C3F;
    border-color: #BC3F33;
    &:hover, &:active {
      background-color: #BC3F33;
    }
  }
}
