.growl-container {
  &.growl-fixed {
    &.top-center {
      text-align: center;
      width: 300px;
      margin-top: 150px;
      margin-left: -150px;
      text-transform: uppercase;
      border-radius: 6px;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .growl-item {
    padding: 40px;
    box-shadow: 4px 4px 10px #888888;
    border: none;
    opacity: .9;
    color: #FFFFFF;
  }
  .alert-success {
    background-color: $salt_lake_city_green;
  }
  .alert-danger, .alert-warning {
    background-color: $salt_lake_city_blue;
  }
}
