a {
  cursor: pointer;
}

.no-text-decorate {
  text-decoration: none;
}

.no-text-transform {
  text-transform: none;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.placeholder-gray {
  color: #999999;
  padding-left: 10px;
}

a {
  &.neosavvy-link {
    &.orange {
      color: $neosavvy_orange;
    }
    &.blue {
      color: $neosavvy_blue;
    }
  }
}
