<div class="about row">
  <div class="col-xs-12 col-md-6 text-center">
    <img class="neosavvy-logo" src="images/neosavvy_logo.png"/>
  </div>
  <div class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-0">

    <h3 class="text-center">Neosavvy</h3>

    <p>
      We've been active members and contributors in the Angular community since 1.0.7. With a passion for rich web
      applications and an enthusiastic team, we love building stuff and having fun drinking beer in new towns.
    </p>

    <p>Neosavvy delivers effective software development, training, and project delivery solutions to suit your business
      needs.
    </p>

    <p>
      With passion, precision, and personality, we provide everything from ground-up development to consulting and
      project management.
    </p>

    <p>Don't be afraid to drop us a line when you're in NYC. Or find Trevor Ewen in the crowd at ng-conf.</p>

    <h4 class="text-center">@neosavvyinc</h4>
  </div>
</div>
