<div class="row beer">
  <div class="col-xs-12">
    <h1 class="text-center text-uppercase">{{beer.name}}</h1>

    <h2 class="bg-success text-center text-uppercase"
        ng-if="beerCheckInCtrl.checkInExists()">You drank at {{checkIn.time | momentFormat : 'h:mmA'}}, Gave
      {{checkIn.rating}} POINTS</h2>

    <form class="form row margin-bottom-15-px">
      <div class="col-xs-12">
        <div class="slide"
             ng-show="beerCheckInCtrl.localState.checkInFields">
          <div class="form-group">
            <points-remaining beer-name="{{beer.name}}" points-given="{{vote.votes}}"></points-remaining>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-primary btn-lg btn-block"
                        ng-click="beerCheckInCtrl.vote($event, 1)">1
                </button>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-primary btn-lg btn-block"
                        ng-click="beerCheckInCtrl.vote($event, 2)">2
                </button>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-success btn-lg btn-block"
                        ng-click="beerCheckInCtrl.vote($event, 3)">3
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row margin-bottom-15-px">
      <div class="col-md-6 col-xs-12 margin-bottom-30-px"
           ng-show="beer.image">
        <img src="{{beer.image}}"/>
      </div>
      <div class="col-xs-12 margin-bottom-30-px"
           ng-class="beer.image ? 'col-md-6' : ''">
        <div ng-bind-html="beer.description"></div>
      </div>
    </div>

    <div class="row margin-bottom-10-px">
      <div class="col-xs-6">
        <a class="btn btn-lg btn-success btn-block"
           href="#/beers{{beerCheckInCtrl.getSearchTerm()}}">Back to List</a>
      </div>
      <div class="col-xs-6">
        <a class="btn btn-primary btn-lg btn-block text-uppercase"
           href="{{beer.url}}"
           target="_blank">Visit Website</a>
      </div>
    </div>
  </div>
</div>
