<div class="row beer">
  <div class="col-xs-12">
    <h1 class="text-center text-uppercase">{{beer.name}}</h1>

    <h3>#{{beer.index}}</h3>

    <div class="row margin-bottom-30-px">
      <div class="col-xs-12">
        <label>Brewed by {{beer.brewer.name}}</label>
      </div>
      <div class="col-xs-12">
        <label>At {{beer.brewery.name}}, {{beer.brewery.location}}</label>
      </div>
    </div>

    <div class="row margin-bottom-30-px">
      <div class="col-xs-12">
        <label>Beer Name: <b>{{beer.name}}</b></label>
      </div>
      <div class="col-xs-12">
        <label>Beer Style: <b>{{beer.style}}</b></label>
      </div>
      <div class="col-xs-12">
        <label>ABV: <b>{{beer.abv}}</b></label>
      </div>
    </div>

    <div class="row margin-bottom-30-px">
      <div class="col-xs-12"
           ng-class="beer.image ? 'col-md-6' : ''">
        <div ng-bind-html="beer.description"></div>
      </div>
    </div>

    <form class="form row margin-bottom-30-px">
      <div class="col-xs-12">
        <h4 class="text-center">Vote for this beer!</h4>
      </div>
      <div class="col-xs-12">
        <div class="slide"
             ng-show="beerCheckInCtrl.localState.checkInFields">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-lg btn-block"
                        ng-class="beerCheckInCtrl.buttonClass(vote.votes, 1)"
                        ng-click="beerCheckInCtrl.vote($event, 1)">1
                </button>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-lg btn-block"
                        ng-class="beerCheckInCtrl.buttonClass(vote.votes, 2)"
                        ng-click="beerCheckInCtrl.vote($event, 2)">2
                </button>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-lg btn-block"
                        ng-class="beerCheckInCtrl.buttonClass(vote.votes, 3)"
                        ng-click="beerCheckInCtrl.vote($event, 3)">3
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row margin-bottom-10-px">
      <div class="col-xs-12">
        <a class="btn btn-lg btn-primary btn-block"
           href="#/beers{{beerCheckInCtrl.getSearchTerm()}}">Return to Competitor Listing</a>
      </div>
    </div>
  </div>
</div>
