<div class="beer-list row">
  <div class="col-xs-12">
    <div class="form-group">
      <input type="text" class="form-control input-lg" ng-model="beerListCtrl.localState.searchTerm"
             ng-model-options="{debounce: 100}"
             placeholder="Search..."/>
    </div>
    <table class="table">
      <tbody>
        <tr ng-repeat="b in beerListCtrl.searchFiltered(beers, beerListCtrl.localState.searchTerm)"
            ng-click="beerListCtrl.goToBeer(b.id)"
            ng-class="beerListCtrl.votes(b.id) ? 'success' : ''">
          <td>{{b.name}}</td>
          <td>{{b.brewery}}</td>
          <td>
            {{beerListCtrl.votes(b.id)}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
