<div class="leader-board row">
  <div ng-include="'views/main-header.html'"></div>
  <div class="col-xs-12">
    <table class="table table-bordered">
      <tr ng-repeat="u in leaderBoardCtrl.leaderBoardOrdering(users)"
          ng-class="leaderBoardCtrl.currentUser.uid == u.id ? 'success' : ''" ng-click="leaderBoardCtrl.onGoToLeader(u)">
        <td class="no-text-transform">{{u.name}}</td>
        <td class="no-text-transform">{{u.checkIns.length}} Beers</td>
      </tr>
    </table>
  </div>
</div>
