<div class="technology row">
  <div class="col-xs-6">
    <a href="http://angularjs.org/" target="_blank">
      <img src="images/angularjs_logo.jpg" class="margin-bottom-50-px"/>
    </a>
  </div>
  <div class="col-xs-6">
    <div>
      <a href="http://www.firebase.com/" target="_blank">
        <img src="images/firebase_logo.png" class="margin-bottom-30-px"/>
      </a>
      <a href="http://getbootstrap.com/" target="_blank">
        <img src="images/bootstrap_logo.png"/>
      </a>
    </div>
  </div>
</div>
</div>
